/* //////// Merriweather Font Faimily //////////// */
@font-face {
    font-family: Merriweather-Regular;
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
    font-family: Merriweather-Black;
    src: url(../fonts/Merriweather/Merriweather-Black.ttf);
}

@font-face {
    font-family: Merriweather-Bold;
    src: url(../fonts/Merriweather/Merriweather-Bold.ttf);
}


/* //////// OpensSans Font Faimily //////////// */

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}